.about {
  background: $clrWhiteShade;

  &__subtitle {
    @include unified-heading(4.2rem);
  }

  &__content {
    line-height: 3.2rem;
    font-size: 2rem;
  }
  
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {

}