.blog-snippet {
  &__container {
    position: relative;

    &__picture {
      display: block;
      width: 100%;
    }
  }

  &__content {
    &__subtitle {
      @include unified-heading(3.2rem);
    }
  }
}


@media (min-width: $tablet) {
  .blog-snippet {
    display: flex;

    &--img {
      &--left-up {
        background: $clrRustRed;
      }
      
      &--right-down {
        background: $clrOJYellow;
      }
    }

    &--text {
      &--left-up {
        background: $clrRustRed;
      }
      
      &--right-down {
        background: $clrOJYellow;
      }
    }
  }
}