.main-container {
  @extend .wrapper;
  display: flex;
  align-items: flex-start;
  background: $clrWhiteShade;
}

.sidebar {
  flex: 0 0 440px;
  margin-right: $margding;
  // height: auto;
  
  &__heading {
    @include unified-heading(2.4rem);
  }

  &__about {
    margin-bottom: $margding;
    background: $clrWhite;
    padding: $top-bot-margding $margding;

    &__img {
      width: 100%;
      height: 400px;
      margin-bottom: $margding;
      background: url(../assets/blog-image-2.jpg) center / cover no-repeat;
    }

    &__link {
      // @include unified-links;
    }

    &__text {
      margin-bottom: 0;
    }
  }

  &__recent-posts {
    background: $clrWhite;
    padding: $top-bot-margding $margding;

    &__post-list {
      margin-bottom: 0;
      padding-left: 1.5rem;
      list-style: none; /* Turns out CSS can't target the styles of the default bullets */
    }

    /* So have to make pseudo-elements to replace them - source: w3schools */
    &__list-item::before {
      content: "\2022"; /* Unicode for a bullet */
      display: inline-block;
      width: 1.5rem;
      color: $clrOJYellow;
    }

    &__link {
      @include unified-links;
      color: $clrBlack;
      text-transform: none;
      
      &:hover {
        color: $clrOJYellow;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.blog-post {
  background: $clrWhite;
  border-bottom: 10px solid $clrOJYellow;
  padding: $top-bot-margding $margding;

  &__title {
    @include unified-heading(3.2rem);
  }

  &__post-info {
    font-style: italic;

    &__author {
      @include unified-links;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-top: $margding;
  background: $clrWhite;
  padding: $top-bot-margding $margding;

  &__avatar {
    margin-right: $margding / 2;
  }

  &__author {
    @extend .blog-post__post-info;
    margin-top: 0;

    &__link {
      @extend .blog-post__post-info__author;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
  }

  &--last {
    border-bottom: 10px solid $clrOJYellow;
  }
}