.blog-snippet {
  &__container {
    position: relative;

    &__picture {
      display: block;
      width: 100%;
    }
  }

  &__content {

    &__subtitle {
      @include unified-heading(3.2rem);
      
      &--right-down {
        text-align: center;
      }

      &--left-up {
        text-align: center;
      }
    }

    &__text {
      &--right-down {
        text-align: center;
      }

      &--left-up {
        text-align: center;
      }
    }
  }
}

@media (min-width: $tablet) {
  .blog-snippet {
    display: flex;
    
    &--right-down {
      flex-direction: row-reverse;
    }

    &__container {
      width: 50%;

      &__picture {
        width: 80%;

        &--left-up {

        }

        &--right-down {
          
        }
      }

      &--left-up {
        background: $clrRustRed;
      }
      
      &--right-down {
        background: $clrOJYellow;
      }
    }

    &__content {
      width: 50%;

      &__subtitle {
        &--right-down {
          text-align: left;
        }

        &--left-up {
          text-align: right;
        }
      }

      &__text {
        &--right-down {
          text-align: left;
        }

        &--left-up {
          text-align: right;
        }
      }
    }
  }
}