.main-container {
  @include wrapper($TB-pgpad-mobile, $LR-pgpad-mobile);
  display: flex;
  flex-direction: column;
  background: $clr-white-shade;
}

.sidebar {
  &--blog {
    margin-top: $margding;
  }
  
  &__heading {
    @include unified-heading(2.4rem);
  }

  &__about {
    margin-bottom: $margding / 2;
    background: $clr-white;
    padding: $top-bot-margding $margding;

    &__img {
      width: 100%;
      height: 40vh;
      min-height: 300px;
      margin-bottom: $margding;
      background: url(../assets/blog-image-2.jpg) center / cover no-repeat;
    }

    &__text {
      margin-bottom: 0;
    }

    &__link {
      @include unified-links();
      color: $clr-dg-blue;
      font-weight: bold;

      &:hover {
        color: $clr-oj-yellow;
      }
    }
  }

  &__recent-posts {
    background: $clr-white;
    padding: $top-bot-margding $margding;

    &__post-list {
      margin-bottom: 0;
      padding-left: 1rem;;
      list-style: none; /* Turns out CSS can't target the styles of the default bullets */
    }

    /* So have to make pseudo-elements to replace them - source: w3schools */
    &__list-item {
      position: relative;
      padding-left: 2rem;
        
      &::before {
        content: "\2022"; /* Unicode for a bullet */
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        color: $clr-oj-yellow;
      }
    }
    

    &__link {
      @include unified-links;
      color: $clr-true-black;
      text-transform: none;
      
      &:hover {
        color: $clr-oj-yellow;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.blog-post {
  background: $clr-white;
  margin-bottom: $margding;
  border-bottom: 10px solid $clr-oj-yellow;
  padding: $top-bot-margding $margding;

  &__title {
    @include unified-heading(3.2rem);
  }

  &__post-info {
    font-style: italic;
    font-weight: normal;

    &__author {
      @include unified-links;
      font-weight: bold;
      text-transform: none;
      color: $clr-dg-blue;

      &:hover {
        color: $clr-oj-yellow;
      }
    }
  }

  &__text:last-child {
    margin-bottom: 0;
  }
}

.comment {
  margin-bottom: $margding / 2;
  background: $clr-white;
  padding: $top-bot-margding $margding;

  &__avatar {
    margin-right: $margding / 2;
  }

  &__author {
    @extend .blog-post__post-info;

    &__link {
      @extend .blog-post__post-info__author;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
  }

  &--last {
    margin-bottom: $margding;
    border-bottom: 10px solid $clr-oj-yellow;
  }
}

@media (min-width: $tablet) {
  .sidebar {
    align-items: flex-start;
    flex: 0 0 auto;

    &--blog {
      display: flex;
      flex-direction: row;
    }

    &__about {
      margin-bottom: 0;
      margin-right: $margding;
      width: 50%;
    }

    &__recent-posts {
      width: 50%;
    }
  }
  
  .comment {
    display: flex;
    align-items: flex-start;

    &__author {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop) {
  .main-container {
    @include wrapper($TB-pgpad-desktop, $LR-pgpad-desktop);
    flex-direction: row;
    align-items: flex-start;
    
    &--blog {
      flex-direction: row-reverse;
    }
  }

  .sidebar {
    flex: 0 0 320px;
    margin-top: 0;
    margin-right: $margding;
    
    &--blog {
      flex-direction: column;
    }

    &__about {
      margin-bottom: $margding / 2;
      margin-right: 0;
      width: 100%;
      position: sticky;
      top: 0;
    }

    &__recent-posts {
      width: 100%;
    }
  }
}

@media (min-width: $large-screen) {
  .sidebar {
    flex: 0 0 360px;
  }
}