.blog-snippet {
  &__img-container {
    position: relative;

    &__picture {
      display: block;
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }

  &__content {
    @include wrapper($TB-pgpad-mobile, $LR-pgpad-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle {
      @include unified-heading(3.2rem);
      text-align: center;
    }

    &__text {
      &--right-down {
        text-align: center;
      }

      &--left-up {
        text-align: center;
      }
    }
  }
}

@media (min-width: $desktop) {
  .blog-snippet {
    display: flex;
    
    &--right-down {
      flex-direction: row-reverse;
    }

    &__img-container {
      position: relative;
      width: 50%;
      
      &--left-up {
        top: -$TB-pgpad-desktop / 5;
        padding-left: calc(#{$LR-pgpad-desktop} - #{$TB-pgpad-desktop} / 5);
        background: $clr-rust-red;
      }

      &--right-down {
        bottom: -$TB-pgpad-desktop / 5 * 2;
        padding-right: calc(#{$LR-pgpad-desktop} - #{$TB-pgpad-desktop} / 5);
        background: $clr-oj-yellow;
      }

      &__picture {
        position: relative;
        height: 100%;
        max-height: 100%;
        width: 100%;

        &--left-up {
          padding: 0;
          bottom: $TB-pgpad-desktop / 5;
          right: $TB-pgpad-desktop / 5;
        }

        &--right-down {
          padding: 0;
          bottom: $TB-pgpad-desktop / 5;
          left: -$TB-pgpad-desktop / 5;
        }
      }
    }

    &__content {
      width: 50%;

      &--right-down {
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: $TB-pgpad-desktop / 5;
      }

      &--left-up {
        align-items: flex-end;
        justify-content: flex-start;
        padding-top: $TB-pgpad-desktop / 5;
      }

      &__subtitle {
        &--right-down {
          text-align: left;
        }

        &--left-up {
          text-align: right;
        }
      }

      &__text {
        &--right-down {
          text-align: left;
        }

        &--left-up {
          text-align: right;
        }
      }
    }
  }
}