.sidebar {
  &__contact {
    @extend .sidebar__about;
  }

  &__social-media-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
      margin-right: $margding;
    }

    &__link { 
      @include unified-links;
      color: $clrOJYellow;
      
      &:hover {
        color: $clrBlack;
      }
    }
  }

  &__contact-info {
    margin: 0;
    padding: 0;
    list-style: none;

    &__heavy-item {
      margin: 10px 0;
      font-weight: bold;
    }

    &__link {
      @include unified-links;
      &:hover {
        color: $clrOJYellow;
      }
    }

    &__address {
      font-style: normal;
    }
  }
}

.contact-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__input {
    height: 300px;
    margin-bottom: $margding;
    padding: $margding;
    vertical-align: top;
  }

  &__info-container {
    display: flex;

    &__input {
      height: 2rem;
      width: 50%;
      margin-bottom: $margding;
      padding: $margding;

      &:first-child {
        margin-right: $margding;
      }
    }
  }

  &__submit {
    @extend .btn;
    display: block;
    border: 0;
  }
}