.sidebar {
  &__contact {
    @extend .sidebar__about;
  }

  &__social-media-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
      margin-right: $margding;
    }

    &__link { 
      @include unified-links;
      color: $clrOJYellow;
      
      &:hover {
        color: $clrBlack;
      }
    }
  }

  &__contact-info {
    margin: 0;
    padding: 0;
    list-style: none;

    &__heavy-item {
      margin: 10px 0;
      font-weight: bold;
    }

    &__link {
      @include unified-links;
      &:hover {
        color: $clrOJYellow;
      }
    }

    &__address {
      font-style: normal;
    }
  }
}