.form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__input {
    position: relative;
    line-height: 2rem;
    margin-bottom: $margding;
    border: 0;
    padding: 2rem;
    resize: none;

    &::placeholder {
      color: $clrGrey;
      opacity: 0.5;
      font-style: italic;
    }

    &--comment {
      min-height: 4rem + 2rem * 10;
      min-width: 100%;
      resize: vertical;
    }

    &--message {
      @extend .form__input--comment;
    }
  }

  &__submit {
    @extend .btn;
    // display: block;
    border: 0;
  }

  &--not-first {
    margin-top: $margding;
  }
}

@media (min-width: $tablet) {
  .form {
    &__input {
      &--half-width {
        width: calc((100% - #{$margding}) / 2); // Interpolation
      }

      &:first-child {
        margin-right: $margding;
      }
    }
  }
}

@media (min-width: $desktop) {

}