.gallery {
  display: flex;

  &__img {
    height: 100%;
    width: 50%;
    
    &--last {
      display: none;
    }
  }
}

@media (min-width: $tablet) {
  .gallery {
    @include wrapper($TB-pgpad-mobile, $LR-pgpad-mobile);
    justify-content: space-between;

    &__img {
      width: 30%;

      &--last {
        display: block;
      }
    }
  }
}

@media (min-width: $desktop) {
  .gallery {
    @include wrapper($TB-pgpad-desktop, $LR-pgpad-desktop);
  }
}