//--Variables and Mixins--//

// Media Query Sizes
$tablet: 968px;
$desktop: 1080px;

// Margins and Padding
$TB-pgpad-mobile: 50px;
$LR-pgpad-mobile: 5%;
$TB-pgpad-desktop: 100px;
$LR-pgpad-desktop: 10%;

$margding: 40px;
$top-bot-margding: $margding;

// Colors
$clrWhite: #fff;
$clrWhiteShade: #f0efed;
$clrGrey: #4f4f4f;
$clrBlack: #2c2c2c;
$clrTrueBlack: #000;
$clrRustRed: #a82706;
$clrAccent: #05afc1;
$clrDGBlue: #285e64;
$clrOJYellow: #f6a823;

// Mixins
@mixin unified-heading($font-size) {
  margin: 0;
  line-height: $font-size;
  font-size: $font-size;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin unified-links() {
  text-decoration: none;
  text-transform: uppercase;
  color: $clrTrueBlack;
  transition: all 0.2s;
  &:hover {
    color: $clrWhite;
    transition: all 0.2s;
  }
}

@mixin right-down() {
  /* test */
}

@mixin left-up() {
  /* test */
}


html {
  font-size: 62.5%;  
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 3.2rem;
  font-size: 2rem;
}

.wrapper {
  padding: 50px 5%;
}

.btn {
  @include unified-links;
  display: block;
  width: 220px;
  padding: 5px 25px;
  background: $clrAccent;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  
  &:hover {
    background: $clrBlack;
    color: $clrAccent;
  }
}

@media (min-width: $desktop) {
  
  .wrapper {
    padding: $TB-pgpad-desktop $LR-pgpad-desktop;
  }
}