.wrapper--hero {
  @extend .wrapper;
  padding-top: 10px;
  background: url(../assets/home-image-1.jpg) center / cover no-repeat;
}

.hero-banner {
  
  display: flex;
  flex-direction: column;

  &__nav {
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-weight: bold;
    }

    &__link {
      @include unified-links;
      font-size: 2rem;

      &--master {
        @include unified-heading(3rem);
        font-family: 'Lora', serif;
      }
    }
  }
}

.hero-banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include unified-heading(8rem);
    font-family: 'Lora', serif;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: -50px;
      height: 200px;
      width: 200px;
      background: url(../assets/circle-text.png) center / contain no-repeat;
    }
  }

  &__img {
    
  }
}

@media (min-width: $tablet) {
  .wrapper--hero {
    background: $clrOJYellow;
  }

  .hero-banner__content__img {
    display: block;
    position: relative;
    box-shadow: 20px 20px #fff;
  }
}

@media (min-width: $desktop) {

}