.hero-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 320px;

  &__nav {
    @include wrapper(20px, $LR-pgpad-mobile);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 85px;
    background: $clrOJYellow;
  }

  &__mb-nav {
    &__burgercheck {
      display: none;
    }

    &__list {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 9000; /* It's... right at 9000... */
      margin: 0;
      height: 100vh;
      min-height: 320px;
      width: 100%;
      padding: 85px 0 0 0;
      background: rgba(246, 168, 35, 0.7);
      list-style: none;
      transition: all 0.5s;
    }

    &__item {
      padding: 10px $LR-pgpad-mobile;
      border-top: 1px solid $clrTrueBlack;

      &--last {
        border-bottom: 1px solid $clrTrueBlack;
      }
    }

    &__link {
      @include unified-links;
      @include unified-heading(2.4rem);

      &--active {
        color: $clrWhite;
      }
    }

    &__hamburger {
      position: relative;
      z-index: 9001; /* It's over 9000!!! */
      font-size: 4.8rem;
      line-height: 4.8rem;

      &:hover {
        color: $clrWhite;
        transition: all 0.2s;
      }
    }

    &__master-title {
      @include unified-links();
      @include unified-heading(4.8rem);
      position: relative;
      z-index: 9001; /* Also over 9000!!! */
      font-family: 'Lora', serif;
    }
  }

  &__dt-nav {
    &__list {
      display: none;
    }
  }

  &__container {
    @include wrapper(0, $LR-pgpad-mobile);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    &--index {
      background: url(../assets/home-image-1.jpg) center / cover no-repeat;
    }

    &--blog {
      background: url(../assets/blog-image-1.jpg) right / cover no-repeat;
    }

    &--contact {
      background: url(../assets/contact-image-1.jpg) center / cover no-repeat;
    }
  }

  &__title-container {
    position: relative;

    &:hover > .hero-banner__circle-text {
      animation: blink-spin 0.5s 1;
      animation-fill-mode: both;
    }
  }

  &__circle-text {
    position: absolute;
    bottom: 30px;
    left: -50px;
  }

  &__hero-img {
    display: none;
  }

  &__banner-title {
    @include unified-heading(8rem);
    position: absolute;
    bottom: -40px;
    line-height: 9.2rem;
    font-family: 'Lora', serif;

    &--hero {
      font-size: 10rem;
      line-height: 10rem;
      position: static;
      padding-left: 0;
    }
  }

  &__banner-img {
    height: 50vh;
    min-height: 300px;
    background: url(../assets/blog-image-1.jpg) center / cover no-repeat;
  }
}

/* Checkbox hack for hamburger menu */
input#hamburger-toggle:checked + .hero-banner__mb-nav__list {
  left: 0;
}

/* Extra Transform Animation */
$circle-text-origin: 52% 85%;

@keyframes blink-spin {
  0% {
    transform: rotate(0deg);
    transform-origin: $circle-text-origin;
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: $circle-text-origin;
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: $circle-text-origin;
    opacity: 1;
  }
}

@media (min-width: $tablet) {
  .hero-banner {
    height: 75vh;

    &__mb-nav {
      &__hamburger {
        display: none;
      }

      &__master-title {
        display: none;
      }

      &__list {
        display: none;
      }
    }

    &__dt-nav {  
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        font-weight: bold;
      }
  
      &__item {
        height: 4.8rem;
        line-height: 4.8rem;
        margin: 0 15px;
      }
  
      &__link {
        @include unified-links;
        font-size: 2rem;
        line-height: 4.8rem;
        padding: 5px 5px;
  
        &--active {
          color: $clrWhite;
        }
  
        &--master {
          @include unified-heading(4.8rem);
          font-family: 'Lora', serif;
        }
      }
    }

    &__container {
      justify-content: flex-start;
      align-items: flex-end;
    }

    &__title-container {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: $desktop) {
  .hero-banner {
    height: 60vh;

    &--index {
      background: $clrOJYellow;
    }

    &__container {
      @include wrapper (0, $LR-pgpad-desktop);
      justify-content: space-between;
      align-items: center;
      
      &--index {
        background: $clrOJYellow;
      }
      
      &--blog {
        background: url(../assets/blog-image-1.jpg) center / cover no-repeat;
      }
    }

    &__title-container {
      margin-bottom: 0;
    }

    &__circle-text {
      position: absolute;
      bottom: 50px;
      left: -50px;
    }

    &__hero-img {
      display: block;
      position: relative;
      top: 0;
      right: 10px;
      width: 300px;
      height: 100%;
      box-shadow: 20px 20px #fff;
    }

    &__banner-title {
      &--hero {
        line-height: 12rem;
        font-size: 12rem;
      }
    }
  }
}

@media (min-width: $large-screen) {
  .hero-banner {
    &__circle-text {
      position: absolute;
      bottom: 70px;
      left: -50px;
    }
    
    &__banner-title {
      line-height: 14rem;
      font-size: 14rem;
    }
  }
}

@media (min-height:420px) {
  .hero-banner {
    &__mb-nav {
      &__item {
        padding: 20px $LR-pgpad-mobile;
      }

      &__link {
        @include unified-heading(3.2rem);
      }
    }
  }
}
