.wrapper--hero {
  @extend .wrapper;
  padding: 10px;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: url(../assets/home-image-1.jpg) center / cover no-repeat;

  &__nav {

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      font-weight: bold;
    }

    &__link {
      @include unified-links;
      font-size: 2rem;
      padding: 20px;

      &--active {
        color: $clrWhite;
      }

      &--master {
        @include unified-heading(4.8rem);
        font-family: 'Lora', serif;
      }
    }
  }

  &__hero-img {
    display: none;
  }

  &__banner-img {
    height: 50vh;
    min-height: 300px;
    background: url(../assets/blog-image-1.jpg) center / cover no-repeat;
  }

  &__banner-title {
    @include unified-heading(8rem);
    position: absolute;
    bottom: -40px;
    padding-left: $LR-pgpad-mobile;
    line-height: 9.2rem;
    font-family: 'Lora', serif;

    &--hero {
      @include unified-heading(14rem);
      font-family: 'Lora', serif;
      position: relative;

      &::before {
        content: url(../assets/circle-text.png); // / "It's All About";
        position: absolute;
        bottom: 0;
        left: -50px;
        height: 200px;
        width: 200px;
        transition: all 0.5s;
      }

      //Trying to get a hover effect on the hero banner title to spin the before pseudo element
      &:hover::before {
        @extend .hero-banner__banner-title--hero::before;
        // opacity: 0;  - Add Keyframes so opacity 0 is at 50% and then back to 1 at 100%
        transform: rotate(360deg);
        transition: all 0.5s;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10%;
  }
}

// .hero-banner__banner-title--hero:hover::before {
//   transform: rotate(90deg);
// }


@media (min-width: $tablet) {
  .hero-banner {
    height: 75vh;
  }
}

@media (min-width: $desktop) {
  .wrapper--hero {
    background: $clrOJYellow;
  }

  .hero-banner {
    height: auto;

    &__hero-img {
      display: block;
      position: relative;
      top: 80px;
      right: 10px;
      box-shadow: 20px 20px #fff;
    }

    &__banner-title {
      padding-left: $LR-pgpad-desktop;
    }
  }
}
