@import 'partials/setup';
@import 'partials/global';
@import 'partials/hero-banner';
@import 'partials/about';
@import 'partials/blog-post';

@import 'partials/gallery';

// Contact Page Styles
@import 'partials/contact';


.copyright {
  background: $clrBlack;
  color: $clrWhite;
  text-align: center;
}