article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 3.2rem;
  font-size: 2rem; }

.wrapper, .wrapper--hero, .gallery, .main-container {
  padding: 50px 5%; }

.btn, .contact-form__submit {
  text-decoration: none;
  text-transform: uppercase;
  color: #2c2c2c;
  display: inline-block;
  padding: 5px 25px;
  background: #05afc1;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .btn:hover, .contact-form__submit:hover {
    color: #fff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .btn:hover, .contact-form__submit:hover {
    background: #2c2c2c;
    color: #05afc1; }

@media (min-width: 968px) {
  .wrapper, .wrapper--hero, .gallery, .main-container {
    padding: 100px 10%; } }

.wrapper--hero {
  min-height: 100vh;
  padding-top: 20px;
  background: url(../assets/home-image-1.jpg) center/cover no-repeat; }

.hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hero-banner__nav {
    padding: 0 auto; }
    .hero-banner__nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: bold; }
    .hero-banner__nav__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #2c2c2c;
      font-size: 2rem;
      padding: 20px; }
      .hero-banner__nav__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .hero-banner__nav__link--active {
        color: #fff; }
      .hero-banner__nav__link--master {
        margin: 0;
        font-size: 4.8rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Lora', serif; }

.hero-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero-banner__content__title {
    margin: 0;
    font-size: 8rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    position: relative; }
    .hero-banner__content__title::before {
      content: "";
      position: absolute;
      top: -100px;
      left: -50px;
      height: 200px;
      width: 200px;
      background: url(../assets/circle-text.png) center/contain no-repeat; }
  .hero-banner__content__img {
    display: none; }

@media (min-width: 600px) {
  .wrapper--hero {
    height: auto;
    padding-bottom: 0;
    background: #f6a823; }
  .hero-banner__content__img {
    display: block;
    position: relative;
    top: 100px;
    right: 10px;
    -webkit-box-shadow: 20px 20px #fff;
    box-shadow: 20px 20px #fff; } }

.about {
  background: #f0efed; }
  .about__subtitle {
    margin: 0;
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase; }

.blog-post__container {
  position: relative; }
  .blog-post__container__picture {
    display: block;
    width: 100%; }

@media (min-width: 600px) {
  .blog-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog-post--img--left-up {
      background: #a82706; }
    .blog-post--img--right-down {
      background: #f6a823; }
    .blog-post--text--left-up {
      background: #a82706; }
    .blog-post--text--right-down {
      background: #f6a823; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .gallery__img {
    height: 100%;
    width: 30%; }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #f0efed; }

.sidebar {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-right: 20px;
  height: auto;
  padding: 20px;
  background: #fff; }
  .sidebar__social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar__social-media-list__item {
      margin-right: 20px; }
    .sidebar__social-media-list__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #2c2c2c;
      color: #f6a823; }
      .sidebar__social-media-list__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .sidebar__social-media-list__link:hover {
        color: #2c2c2c; }
  .sidebar__contact-info {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar__contact-info__heavy-item {
      margin: 10px 0;
      font-weight: bold; }
    .sidebar__contact-info__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #2c2c2c; }
      .sidebar__contact-info__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .sidebar__contact-info__link:hover {
        color: #f6a823; }
    .sidebar__contact-info__address {
      font-style: normal; }

.contact-form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contact-form__input {
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;
    vertical-align: top; }
  .contact-form__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-form__info-container__input {
      height: 2rem;
      width: 50%;
      margin-bottom: 20px;
      padding: 20px; }
      .contact-form__info-container__input:first-child {
        margin-right: 20px; }
  .contact-form__submit {
    display: block;
    border: 0; }

.copyright {
  background: #2c2c2c;
  color: #fff;
  line-height: 4rem;
  text-align: center; }

/*# sourceMappingURL=main.css.map */