@import 'partials/setup';
@import 'partials/global';
@import 'partials/layouts';
@import 'partials/hero-banner';
@import 'partials/about';
@import 'partials/blog-snippet';
@import 'partials/mid-menu';
@import 'partials/gallery';

// Form Styles
@import 'partials/form';

// Blog Page Styles
@import 'partials/blog';

// Contact Page Styles
@import 'partials/contact';


.bgdivider-chairs {
  height: 200px;
  width: auto;
  background: url(../assets/home-image-4.jpg) center / cover no-repeat;
}

.copyright {
  background: $clrBlack;
  color: $clrWhite;
  line-height: 4rem;
  text-align: center;
}

@media (min-width: $tablet) {
  .bgdivider-chairs {
    height: 300px;
  }
}

@media (min-width: $desktop) {
  .bgdivider-chairs {
    height: 400px;
  }
}