@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 3.2rem;
  font-size: 2rem;
  min-width: 320px; }

.btn, .form__submit {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width: 220px;
  padding: 5px 25px;
  background: #05afc1;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s; }
  .btn:hover, .form__submit:hover {
    color: #fff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .btn:hover, .form__submit:hover {
    background: #2c2c2c;
    color: #05afc1; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }
  .skip-link:focus {
    left: 0; }

.hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 320px; }
  .hero-banner__nav {
    padding: 20px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    min-height: 85px;
    background: #f6a823; }
  .hero-banner__mb-nav__burgercheck {
    display: none; }
  .hero-banner__mb-nav__list {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 9000;
    /* It's... right at 9000... */
    margin: 0;
    height: 100vh;
    min-height: 320px;
    width: 100%;
    padding: 85px 0 0 0;
    background: rgba(246, 168, 35, 0.7);
    list-style: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .hero-banner__mb-nav__item {
    padding: 10px 5%;
    border-top: 1px solid #000; }
    .hero-banner__mb-nav__item--last {
      border-bottom: 1px solid #000; }
  .hero-banner__mb-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin: 0;
    line-height: 2.4rem;
    font-size: 2.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase; }
    .hero-banner__mb-nav__link:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .hero-banner__mb-nav__link--active {
      color: #fff; }
  .hero-banner__mb-nav__hamburger {
    position: relative;
    z-index: 9001;
    /* It's over 9000!!! */
    font-size: 4.8rem;
    line-height: 4.8rem; }
    .hero-banner__mb-nav__hamburger:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .hero-banner__mb-nav__master-title {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin: 0;
    line-height: 4.8rem;
    font-size: 4.8rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 9001;
    /* Also over 9000!!! */
    font-family: 'Lora', serif; }
    .hero-banner__mb-nav__master-title:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .hero-banner__dt-nav__list {
    display: none; }
  .hero-banner__container {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%; }
    .hero-banner__container--index {
      background: url(../assets/home-image-1.jpg) center/cover no-repeat; }
    .hero-banner__container--blog {
      background: url(../assets/blog-image-1.jpg) 75% 60%/cover no-repeat; }
    .hero-banner__container--contact {
      background: url(../assets/contact-image-1.jpg) center/cover no-repeat; }
  .hero-banner__title-container {
    position: relative;
    top: 30%; }
    .hero-banner__title-container:hover > .hero-banner__circle-text {
      -webkit-animation: blink-spin 0.5s 1;
      animation: blink-spin 0.5s 1;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
  .hero-banner__circle-text {
    position: absolute;
    bottom: 10px;
    left: -40px; }
  .hero-banner__banner-title {
    margin: 0;
    line-height: 6rem;
    font-size: 6rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Lora', serif; }
    .hero-banner__banner-title--hero {
      font-size: 6rem;
      line-height: 6rem;
      position: static;
      padding-left: 0; }
  .hero-banner__hero-img {
    display: none; }

/* Checkbox hack for hamburger menu */
input#hamburger-toggle:checked + .hero-banner__mb-nav__list {
  left: 0; }

/* Extra Transform Animation */
@-webkit-keyframes blink-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 1; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 1; } }
@keyframes blink-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 1; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 52% 85%;
    transform-origin: 52% 85%;
    opacity: 1; } }

@media (min-width: 701px) {
  .hero-banner {
    height: 70vh; }
    .hero-banner__mb-nav__hamburger {
      display: none; }
    .hero-banner__mb-nav__master-title {
      display: none; }
    .hero-banner__mb-nav__list {
      display: none; }
    .hero-banner__dt-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      font-weight: bold; }
    .hero-banner__dt-nav__item {
      height: 4.8rem;
      line-height: 4.8rem;
      margin: 0 15px; }
    .hero-banner__dt-nav__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      font-size: 2rem;
      line-height: 4.8rem;
      padding: 5px 5px; }
      .hero-banner__dt-nav__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .hero-banner__dt-nav__link--active {
        color: #fff; }
      .hero-banner__dt-nav__link--master {
        margin: 0;
        line-height: 4.8rem;
        font-size: 4.8rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Lora', serif; }
    .hero-banner__container {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .hero-banner__container--index {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .hero-banner__title-container {
      top: 0;
      margin-bottom: 60px; }
    .hero-banner__circle-text {
      position: absolute;
      bottom: 30px;
      left: -50px; }
    .hero-banner__banner-title {
      margin: 0;
      line-height: 8rem;
      font-size: 8rem;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 9.2rem;
      bottom: -40px; } }

@media (min-width: 968px) {
  .hero-banner {
    height: 70vh;
    min-height: 520px; }
    .hero-banner--index {
      background: #f6a823; }
    .hero-banner__container {
      padding: 0 10%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .hero-banner__container--index {
        background: #f6a823; }
      .hero-banner__container--blog {
        background: url(../assets/blog-image-1.jpg) 60% 60%/cover no-repeat; }
    .hero-banner__title-container {
      margin-bottom: 0; }
    .hero-banner__circle-text {
      position: absolute;
      bottom: 50px;
      left: -50px; }
    .hero-banner__hero-img {
      display: block;
      position: relative;
      top: 60px;
      right: 10px;
      width: 35%;
      max-width: 360px;
      -webkit-box-shadow: 20px 20px #fff;
      box-shadow: 20px 20px #fff; }
    .hero-banner__banner-title--hero {
      line-height: 12rem;
      font-size: 12rem; } }

@media (min-width: 1180px) {
  .hero-banner__circle-text {
    position: absolute;
    bottom: 70px;
    left: -50px; }
  .hero-banner__banner-title--hero {
    line-height: 14rem;
    font-size: 14rem; } }

@media (min-height: 420px) {
  .hero-banner__mb-nav__item {
    padding: 20px 5%; }
  .hero-banner__mb-nav__link {
    margin: 0;
    line-height: 3.2rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase; } }

.about {
  padding: 50px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f0efed; }
  .about > .about__subtitle {
    margin-top: 0; }
  .about__img {
    position: relative;
    bottom: 10px;
    right: 10px;
    margin: 30px 0;
    -webkit-box-shadow: 20px 20px #f6a823;
    box-shadow: 20px 20px #f6a823; }
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about__subtitle {
    margin: 0;
    line-height: 4.2rem;
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center; }
  .about__content {
    text-align: center; }

@media (min-width: 968px) {
  .about {
    padding: 100px 10%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .about--larger-wrapper {
      padding: 140px 10%; }
    .about--with-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .about__img {
      margin-top: 0;
      margin-right: 40px; }
    .about__container {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .about__subtitle {
      margin-top: 0;
      text-align: left; }
    .about__content {
      text-align: left; } }

.blog-snippet__img-container {
  position: relative; }
  .blog-snippet__img-container__picture {
    display: block;
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover; }

.blog-snippet__content {
  padding: 50px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog-snippet__content__subtitle {
    margin: 0;
    line-height: 3.2rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .blog-snippet__content__text--right-down {
    text-align: center; }
  .blog-snippet__content__text--left-up {
    text-align: center; }

@media (min-width: 968px) {
  .blog-snippet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog-snippet--right-down {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .blog-snippet__img-container {
      position: relative;
      width: 50%; }
      .blog-snippet__img-container--left-up {
        top: -20px;
        padding-left: calc(10% - 100px / 5);
        background: #a82706; }
      .blog-snippet__img-container--right-down {
        bottom: -40px;
        padding-right: calc(10% - 100px / 5);
        background: #f6a823; }
      .blog-snippet__img-container__picture {
        position: relative;
        height: 100%;
        max-height: 100%;
        width: 100%; }
        .blog-snippet__img-container__picture--left-up {
          padding: 0;
          bottom: 20px;
          right: 20px; }
        .blog-snippet__img-container__picture--right-down {
          padding: 0;
          bottom: 20px;
          left: -20px; }
    .blog-snippet__content {
      width: 50%; }
      .blog-snippet__content--right-down {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-bottom: 20px; }
      .blog-snippet__content--left-up {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 20px; }
      .blog-snippet__content__subtitle--right-down {
        text-align: left; }
      .blog-snippet__content__subtitle--left-up {
        text-align: right; }
      .blog-snippet__content__text--right-down {
        text-align: left; }
      .blog-snippet__content__text--left-up {
        text-align: right; } }

.mid-menu {
  padding: 50px 5%;
  padding-bottom: 0;
  background: #f0efed; }
  .mid-menu__list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .mid-menu__list__item {
      position: relative;
      padding-bottom: 50px; }
    .mid-menu__list__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      display: inline-block;
      padding-left: 60px; }
      .mid-menu__list__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .mid-menu__list__link:hover {
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        color: #f6a823; }
        .mid-menu__list__link:hover > .mid-menu__list__heading::before {
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          background: #2c2c2c;
          color: #f6a823; }
    .mid-menu__list__heading {
      margin: 0;
      line-height: 2.4rem;
      font-size: 2.4rem;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase; }
      .mid-menu__list__heading--photos::before {
        font-family: "Font Awesome 5 Free";
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 4rem;
        background: #f6a823;
        border-radius: 50%;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center; }
      .mid-menu__list__heading--about::before {
        font-family: "Font Awesome 5 Free";
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 4rem;
        background: #f6a823;
        border-radius: 50%;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center; }
      .mid-menu__list__heading--blog::before {
        font-family: "Font Awesome 5 Free";
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 4rem;
        background: #f6a823;
        border-radius: 50%;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center; }
      .mid-menu__list__heading--contact::before {
        font-family: "Font Awesome 5 Free";
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 4rem;
        background: #f6a823;
        border-radius: 50%;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center; }
    .mid-menu__list__text {
      margin-bottom: 0;
      margin-left: 60px; }

@media (min-width: 701px) {
  .mid-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mid-menu__list__item {
      width: calc(50% - 20px); }
      .mid-menu__list__item:nth-child(2n + 1) {
        margin-right: 40px; } }

@media (min-width: 968px) {
  .mid-menu {
    padding: 100px 10%;
    padding-bottom: 50px; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery__img {
    height: 100%;
    width: 50%; }
    .gallery__img--last {
      display: none; }

@media (min-width: 701px) {
  .gallery {
    padding: 50px 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .gallery__img {
      width: 30%; }
      .gallery__img--last {
        display: block; } }

@media (min-width: 968px) {
  .gallery {
    padding: 100px 10%; } }

.form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .form__input {
    position: relative;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    padding: 2rem;
    line-height: 2rem;
    resize: none; }
    .form__input::-webkit-input-placeholder {
      color: #4f4f4f;
      opacity: 0.5;
      font-style: italic; }
    .form__input:-ms-input-placeholder {
      color: #4f4f4f;
      opacity: 0.5;
      font-style: italic; }
    .form__input::-ms-input-placeholder {
      color: #4f4f4f;
      opacity: 0.5;
      font-style: italic; }
    .form__input::placeholder {
      color: #4f4f4f;
      opacity: 0.5;
      font-style: italic; }
    .form__input--comment, .form__input--message {
      min-height: 24rem;
      min-width: 100%;
      resize: vertical; }
  .form__submit {
    width: 100%;
    border: 0; }

@media (min-width: 701px) {
  .form__input--half-width {
    width: calc((100% - 40px / 2) / 2);
    /* Interpolation */ }
  .form__input:first-child {
    margin-right: 20px; } }

@media (min-width: 968px) {
  .form__input--half-width {
    width: 100%; }
  .form__input:first-child {
    margin-right: 0; } }

@media (min-width: 1180px) {
  .form__input--half-width {
    width: calc((100% - 40px / 2) / 2);
    /* Interpolation */ }
  .form__input:first-child {
    margin-right: 20px; } }

.main-container {
  padding: 50px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f0efed; }

.sidebar--blog {
  margin-top: 40px; }

.sidebar__heading {
  margin: 0;
  line-height: 2.4rem;
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase; }

.sidebar__about {
  margin-bottom: 20px;
  background: #fff;
  padding: 40px 40px; }
  .sidebar__about__img {
    width: 100%;
    height: 40vh;
    min-height: 300px;
    margin-bottom: 40px;
    background: url(../assets/blog-image-2.jpg) center/cover no-repeat; }
  .sidebar__about__text {
    margin-bottom: 0; }
  .sidebar__about__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #285e64;
    font-weight: bold; }
    .sidebar__about__link:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sidebar__about__link:hover {
      color: #f6a823; }

.sidebar__recent-posts {
  background: #fff;
  padding: 40px 40px;
  /* So have to make pseudo-elements to replace them - source: w3schools */ }
  .sidebar__recent-posts__post-list {
    margin-bottom: 0;
    padding-left: 1rem;
    list-style: none;
    /* Turns out CSS can't target the styles of the default bullets */ }
  .sidebar__recent-posts__list-item {
    position: relative;
    padding-left: 2rem; }
    .sidebar__recent-posts__list-item::before {
      content: "\2022";
      /* Unicode for a bullet */
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5rem;
      color: #f6a823; }
  .sidebar__recent-posts__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
    text-transform: none; }
    .sidebar__recent-posts__link:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sidebar__recent-posts__link:hover {
      color: #f6a823; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5; }

.blog-post {
  background: #fff;
  margin-bottom: 40px;
  border-bottom: 10px solid #f6a823;
  padding: 40px 40px; }
  .blog-post__title {
    margin: 0;
    line-height: 3.2rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase; }
  .blog-post__post-info, .comment__author {
    font-style: italic;
    font-weight: normal; }
    .blog-post__post-info__author, .comment__author__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      font-weight: bold;
      text-transform: none;
      color: #285e64; }
      .blog-post__post-info__author:hover, .comment__author__link:hover {
        color: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .blog-post__post-info__author:hover, .comment__author__link:hover {
        color: #f6a823; }
  .blog-post__text:last-child {
    margin-bottom: 0; }

.comment {
  margin-bottom: 20px;
  background: #fff;
  padding: 40px 40px; }
  .comment__avatar {
    margin-right: 20px; }
  .comment__text:last-child {
    margin-bottom: 0; }
  .comment--last {
    margin-bottom: 40px;
    border-bottom: 10px solid #f6a823; }

@media (min-width: 701px) {
  .sidebar {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .sidebar--blog {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .sidebar__about {
      margin-bottom: 0;
      margin-right: 20px;
      width: 50%; }
    .sidebar__recent-posts {
      width: 50%; }
  .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .comment__author {
      margin-top: 0; } }

@media (min-width: 968px) {
  .main-container {
    padding: 100px 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .main-container--blog {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    margin-top: 0;
    margin-right: 40px; }
    .sidebar--blog {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: -webkit-sticky;
      position: sticky;
      top: 0; }
    .sidebar__about {
      margin-bottom: 20px;
      margin-right: 0;
      width: 100%; }
    .sidebar__recent-posts {
      width: 100%; } }

@media (min-width: 1180px) {
  .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 360px;
    flex: 0 0 360px; } }

.sidebar__contact {
  margin-bottom: 40px;
  background: #fff;
  padding: 40px 40px; }

.sidebar__social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar__social-media-list__item {
    margin-right: 40px; }
  .sidebar__social-media-list__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #f6a823; }
    .sidebar__social-media-list__link:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sidebar__social-media-list__link:hover {
      color: #2c2c2c; }

.sidebar__contact-info {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar__contact-info__heavy-item {
    margin: 10px 0;
    font-weight: bold; }
  .sidebar__contact-info__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .sidebar__contact-info__link:hover {
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sidebar__contact-info__link:hover {
      color: #f6a823; }
  .sidebar__contact-info__address {
    font-style: normal; }

.bgdivider-chairs {
  height: 250px;
  width: auto;
  background: url(../assets/home-image-4.jpg) center/cover no-repeat; }

.copyright {
  background: #2c2c2c;
  color: #fff;
  line-height: 4rem;
  text-align: center; }

@media (min-width: 701px) {
  .bgdivider-chairs {
    height: 300px; } }

@media (min-width: 968px) {
  .bgdivider-chairs {
    height: 400px; } }

/*# sourceMappingURL=main.css.map */